
.App {
  text-align: center;
  height: 100%;
  grid-template-rows: 20% 80%;
  grid-template-columns: 15% 85% 15%;
  grid-template-areas: "head head head" 
                        "score score board";
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  grid-area: head;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.board{
  display: grid;
  margin: auto;
  grid-template: repeat(9, 8vh) / repeat(8, 8vh) ;
  justify-content: center;
  height:80%;
  width:80%;
  grid-area: board;
}
@media screen and (orientation: portrait ){
  .board{
    grid-template: repeat(9, 12vw) / repeat(8, 12vw) ;
  
  }
}
.box{
  width: 100%;
  height: 100%;
  background: #123F6E;
  border: solid 2px #3275BB; 
}
.playable{
  background: #C63B31
}
.score{
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  grid-area: score;
  font-size: .5rem;
  
}
.options-button{
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 2em;
}
.options{
  height: 100vh;
  width: 35vw;
  position: fixed;
  top: 0;
  right: -35vw;
  background:white;
  color: black;
  transition: right .32s ease-in;
}
.options{
  cursor: pointer
}
input[type="checkbox"]:checked + .options{
  right: 0;
}